<!DOCTYPE html>
<html lang="en" ng-app="LaPorraca">
 
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">
 
    <title>AngularJS & Firebase Web App</title>
 
   
     <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <!-- Custom CSS -->
    <link href="./live/sb-admin-2.css" rel="stylesheet">
	<link href="./live/freelancer.css" rel="stylesheet">
	
    <link href="justified-nav.css" rel="stylesheet">
 
    <link href="../bootstrap/css/clean-blog.min.css" rel="stylesheet">

	<link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

	
</head>
 
<body ng-controller="LiveCtrl">
 <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->  
    <header class="intro-header" style="background-image: url('bootstrap/img/logo3.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Bar</h1>
                        <hr class="small">
                        <span class="subheading">Aqui podrás relajarte y tomarte una cerveza</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
	   <div class="container">
	 <div id="page-wrapper">
	 <div class="row">
	 <div class="col-lg-3">
	 </div>
        <div class="col-lg-6">
	  <div class="chat-panel panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-comments fa-fw"></i>
                            Chat                           
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <ul class="chat">
							<li class="left clearfix" ng-repeat="frase in chatCompleto.list.Frases">
							<span class="chat-img pull-left">
                                        <img ng-src="{{frase.Avatar}}" height="40" width="40" alt="Avatar" class="img-circle" />
                                    </span>	
									<p>
							        {{frase.Frase}} 
								   </p>									
							</li>
                               
                                
                            </ul>
                        </div>
                        <!-- /.panel-body -->
                        <div class="panel-footer">
                            <div class="input-group">
                                <input  id="fraseActual"  type="text" class="form-control input-sm" placeholder="Escribe aqui tu mensaje" />
                                <span class="input-group-btn">
                                    <button id="enviar" class="btn btn-warning btn-sm" ng-click="GuardarCompleto($event)" id="btn-chat">
                                        Enviar
                                    </button>
                                </span>
                            </div>
                        </div>
                        <!-- /.panel-footer -->
                    </div>
                    <!-- /.panel .chat-panel -->
					</div>
					<div class="col-lg-3">
	 </div>
					</div>
					
					<section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Servicios</h2>
                    <hr class="star-primary">
					 <div class="col-lg-12 text-center" id="cerveza" hidden = "true" >
			<iframe  src="//giphy.com/embed/V6vYGxjArFFde" width="480" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="http://giphy.com/gifs/the-simpsons-beer-homer-simpson-V6vYGxjArFFde">via GIPHY</a></p>
			</div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="http://www.delish.com/food/a43110/duff-beer-is-real/?zoomable" ng-click="Cerveza($event)" target="_blank" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-beer fa-3x"></i>
                            </div>
                        </div>
                        <img src="./live/img/pint.png" class="img-responsive" alt="">
                    </a>
					
                </div>
                <div class="col-sm-4 portfolio-item">
				
                    <a href="http://bwin.com" target="_blank" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa  fa-money fa-3x"></i>
                            </div>
                        </div>
                        <img src="./live/img/maquina.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="http://youtube.com" class="portfolio-link" target="_blank" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa  fa-headphones fa-3x"></i>
                            </div>
                        </div>
                        <img src="./live/img/tele.png" class="img-responsive" alt="">
                    </a>
                </div>
                
            </div>
			<div class = "row">
			
			</div>
        </div>
    </section>
		
	 
	
    </div>
</div>

 	<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Project Title</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/cabin.png" class="img-responsive img-centered" alt="">
                            <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>