<!DOCTYPE html>
<html lang="en" ng-app="LaPorraca">
 
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">
 
    <title>AngularJS & Firebase Web App</title>
 
  <script src="usuario/angular-drag-and-drop-lists.js"></script>
  
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    	
	<link rel="stylesheet" href="usuario/framework/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="usuario/framework/vendor/bootstrap-theme.min.css">

	
	<link rel="stylesheet" type="text/css" href="usuario/simple.css" />
	<link rel="stylesheet" type="text/css" href="usuario/simple/advanced.css" />

	<link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

	 <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.min.js"></script>
    
</head>
 
<body ng-controller="UsuarioCtrl">
<!---->
 <header class="intro-header" style="background-image: url('bootstrap/img/logo3.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Entrenador</h1>
                        <hr class="small">
                        <span class="subheading">La caseta del entrenador para usar la pizarra</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div  class="container">
          <div id="page-wrapper">
           
			 <div class="row">
			 <div class="col-lg-6">
			 
        <form class="form-signin" role="form">
		<div class="form-group">
		<label>Nombre</label>
		<input ng-model="profile.Nombre" ng-change="profile.$save()" type="Nombre" class="form-control" placeholder="Nombre" required="" autofocus="">
		</div>
            <div class="form-group">
		<label>Frase</label>
            <input ng-model="profile.Frase" ng-change="profile.$save()" type="Frase" class="form-control" placeholder="Frase" required="">
			</div>
			
			<label>Avatar</label>
			<div class="form-group">
	 
	  <img  ng-src="{{profile.Avatar}}" alt="Avatar" id="avatar" height="84" width="84">
	  		
			 <input type="file" id="fileElem"  accept="image/*"  onchange="handleFiles(this.files)">
			 </div>
      </form>
	  
 </div>
 </div>

  <div class="row">
   <div class="col-lg-9">
   <h3>SELECCIÓN: </h3> 
   Arrastra los equipos con los que quieras participar abajo. Econtrarás una explicacion más detallada en las
<a href="#/reglas" >   Reglas </a>
   </div>
   </div>

 <form name="myForm" >
 
  <div class="row">
   <div class="col-lg-3">
  <label>Te quedan estos créditos: </label> 
 
  <input ng-model="CreditosTotales" name="input" type="number" class="form-control"  min="0" max="99" disabled>
    <div role="alert" class="alert alert-danger" ng-show="myForm.input.$error.required" >
	<p class="help-block text-danger">
    <span class="error" >
      Te has gastado mas creditos de los disponibles</span>    
	  </p>
  </div>
  </div>
 
  
 </div>
 </form>

 <div class="advancedDemo row">
   <div class="col-lg-12"> 
 <div class="dropzone box box-yellow" >
 
            <li ng-repeat="(listName, list) in models.lists" 
        dnd-effect-allowed="copyMove"	    	
        dnd-type="'containerType'"        
       >                           
			
					
					<!-- The dnd-list directive allows to drop elements into it.
     The dropped data will be added to the referenced list -->
	 <div class="container-element box box-blue">
	  <div class="panel panel-info">
	   <div class="panel-heading">
	  <h>{{listName}}</h5>
	  </div>
	   <div class="panel-body" >
<ul dnd-list="list"
 dnd-disable-if="list.length >= models.max" 
 dnd-horizontal-list="true"
 class="itemlist">

    <!-- The dnd-draggable directive makes an element draggable and will
         transfer the object that was assigned to it. If an element was
         dragged away, you have to remove it from the original list
         yourself using the dnd-moved attribute -->
    <li ng-repeat="item in list"
	    dnd-type="'itemType'"
        dnd-draggable="item"
        dnd-moved="list.splice($index, 1)"
        dnd-effect-allowed="move"
        dnd-selected="models.selected = item"
        ng-class="{'selected': models.selected === item}"
        >
        {{item.label}}  {{item.Creditos}}  
    </li>
</ul>
<div class="clearfix">
</div>
</div>
</div>
				
			</li>		
  	
 </div>
</div>
 </div>
 </div> 
 <div class="row">
 <div class="col-lg-3">
 <label for="repeatSelect"> Jugadores: </label>
    <select name="repeatSelect" id="repeatSelect" ng-model="dropdown.jugadorSelect">
      <option ng-repeat="jugador in dropdown.list.Jugadores" value="{{jugador.label}}">{{jugador.label}} {{jugador.Creditos}} </option>
    </select>
	</div>
	</div>

	 <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                           Octavos de Final
                        </div>
                        <!-- .panel-heading -->
                        <div class="panel-body">
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href=",/#collapseOne">Octavos 1</a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            Alemania <input class="form-control"  ng-model="Octavos1.Casa"  id="disabledInput" type="number" >  
											 España <input class="form-control" ng-model="Octavos1.Fuera"  id="disabledInput" type="number" >
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="./#collapseTwo">Octavos 2</a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Alemania <input class="form-control"  ng-model="Octavos2.Casa"  id="disabledInput" type="number" >  
											 España <input class="form-control" ng-model="Octavos2.Fuera"  id="disabledInput" type="number" >
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="./#collapseThree">Octavos 3</a>
                                        </h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Alemania <input class="form-control"  ng-model="Octavos3.Casa"  id="disabledInput" type="number" >  
											 España <input class="form-control" ng-model="Octavos3.Fuera"  id="disabledInput" type="number" >
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- .panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
			 <button type="button" ng-click="Guardar($event)"  class="btn  btn-primary ">Guardar</button>
	
 </div>
 </div>
 
  
</body>
</html>